@model QuestionViewModel

<link rel="stylesheet" href="~/css/textQuestion.css"/>

<div class="question" id="question-@Model.Index">

    <input type="hidden"
           id="Questions_@(Model.Index)__Index"
           name="Questions[@(Model.Index)].Index"
           value="@Model.Index"/>

    <div class="question-edit-mode">
        <input class="question-title"
               id="Questions_@(Model.Index)__Title"
               name="Questions[@(Model.Index)].Title"
               type="text"
               placeholder="Title"/>
    </div>

    <div class="question-view-mode">
        <div class="question-title" id="question-@(Model.Index)-title">
            Question @Model.Index
        </div>
        <span class="material-icons-outlined" id="edit-question-@(Model.Index)">edit</span>
    </div>
</div>

<script src="~/js/textQuestion.js" asp-append-version="true"></script>
