@model IReadOnlyCollection<UserInTableViewModel>

@{
    ViewData["Title"] = "Users";
}

<link rel="stylesheet" href="~/css/tableView.css"/>

<h1>@ViewData["Title"]</h1>

<div class="grid">
    <span>
        <strong>Name</strong>
    </span>
    <span>
        <strong>Role</strong>
    </span>
    <span>
        <strong>Registrated</strong>
    </span>
    @foreach (var user in @Model)
    {
        <span>@user.Name</span>
        <span>@user.Role</span>
        <span>@user.RegistrationDate.Date.ToShortDateString()</span>
    }
</div>
<div class="flip-pages-arrows">
    <span class="material-icons-outlined">keyboard_double_arrow_left</span>
    <span class="material-icons-outlined">keyboard_arrow_left</span>
    <span class="material-icons-outlined">keyboard_arrow_right</span>
    <span class="material-icons-outlined">keyboard_double_arrow_right</span>
</div>
