<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logconsole"
                xsi:type="Console"
                layout="${longdate}|${level:uppercase=true}|${message}${onexception:${newline}${exception:format=ToString}}" />
        <target name="logfile"
                xsi:type="File"
                fileName="Logs\log.txt"
                archiveFileName="log.{#}.txt"
                archiveNumbering="Date"
                archiveEvery="Day"
                archiveDateFormat="yyyyMMdd"
                layout="${longdate}|${level:uppercase=true}|${message}${onexception:${newline}${exception:format=ToString}}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="logconsole" />
        <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
</nlog>
