.sidenav {
    width: 200px;
    position: fixed;
    overflow-x: hidden;
    border-right: 1px solid rgb(222, 226, 230);
    box-shadow: 1px -1px 5px -4px rgb(136, 136, 136);
}

.sidenav a {
    padding: 10px;
    margin: 20px 20px 20px 0;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    text-align: center;
    border: solid 1px lightgray;
}

.sidenav a:hover {
    background-color: rgb(242, 243, 245);
    transition-duration: 100ms;
}

main {
    margin-left: 200px; /* Same as the width of the sidenav */
    padding: 20px 0 0 30px;
}

footer {
    background-color: white;
}
