.sidenav {
    width: 200px;
    position: fixed;
    overflow-x: hidden;
    border-right: 1px solid #dee2e6;
    box-shadow: 1px -1px 5px -4px #888;
}

.sidenav a {
    padding: 10px;
    margin: 20px 20px 20px 0;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    text-align: center;
    border: solid 1px lightgray;
}

.sidenav a:hover {
    background-color: ghostwhite;
    transition-duration: 100ms;
}

main {
    margin-left: 220px; /* A little more than the width of the sidenav */
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

footer {
    background-color: white;
}
