.user-table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid #dee2e6;
}

.user-table .table-header {
    background-color: #f2f3f5;
}

.user-table > div {
    padding: 8px;
    text-align: center;
}

.user-table > .align-left {
    text-align: left;
}

.navbar-for-table {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.flip-pages-arrows {
    display: flex;
}

.flip-pages-arrows > a,
.user-table > div > a {
    color: #5f6368;
    text-decoration: none;
}

.flip-pages-arrows > a:hover,
.user-table > div > a:hover {
    color: #346be3;
    text-decoration: none;
    cursor: pointer;
}

.user-table > div > .delete-button:hover {
    color: #db4437;
}

.user-table .material-icons-outlined {
    margin: 0 4px 0 4px;
}

.inactive-icon {
    color: #b7b7b7;
    cursor: default;
}

.flip-pages-arrows > span {
    margin: 0 4px 0 4px;
}
