.user-table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid rgb(222, 226, 230);
}

.user-table .table-header {
    background-color: rgb(242, 243, 245);
    margin-bottom: 8px;
}

.user-table > div {
    padding: 8px;
    text-align: center;
}

.user-table > .align-left {
    text-align: left;
}

.user-table .actions,
.users-table .inactive-actions {
    display: flex;
    justify-content: center;
}

.navbar-for-table {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding-right: 5px;
}

.flip-pages-arrows {
    display: flex;
}

.flip-pages-arrows .users-counter {
    margin: 0 6px 0 6px;
}

.flip-pages-arrows > a,
.delete-button,
.change-role-button {
    color: rgb(95, 99, 104);
}

.actions > span,
.inactive-actions > span {
    margin: 0 5px 0 5px;
}

.flip-pages-arrows > a:hover,
.change-role-button:hover {
    color: rgb(52, 107, 227);
    cursor: pointer;
}

.delete-button:hover {
    color: rgb(219, 68, 55);
    cursor: pointer;
}

.inactive-actions {
    color: rgb(183, 183, 183);
    cursor: default;
}

label {
    margin: 0;
}

.hide {
    display: none;
}
